#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  border: 2px solid white;
  width: 500px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.card h2 {
  color: white;
}

.card p {
  color: white;
  font-size: smaller;
}

.card img {
  width: 440px;
  object-fit: contain;
}